.contenedor {
    margin: 0;
    padding: 0;
    display:flex;
    gap: 20px;
    align-items: center;
    
}

.logoimg img{
    margin: 0;
    padding: 0;
    width: 200px;
}

.eslogan h2 {
    font-size: 20px;   
    color:rgb(11, 116, 11);
    font-weight: 500;
}

.contenedor_bar {
    position: relative;
    width: 500px;
    height: 50px;
    margin-right: 10px;
    background-color:rgb(92, 158, 6);
    display: flex;
    align-items: center;
    align-content: center;
    justify-content:right;
    padding-right: 20px;
    border-radius: 30px;
    }

.btn {
    width: 100px;
    background-color:rgb(9, 231, 9) ;
    color:rgb(243, 240, 240);

}

.label {
    height: 20px;
    margin-right: 10px;
}
